{{#partial "content"}}
    <h1>{{ idea.title }}</h1>
    <h2>{{ idea.voteCount }}</h2>
    <ul>
        {{#each idea.voters}}
            <li> {{ this }} </li>
        {{/each}}
        <form action="/ideas/{{ idea.slug }}/vote" method="post">
            {{ title }} ( {{ voteCount }} votes) <button>Vote</button>
        </form>
    </ul>
{{/partial}}

{{#partial "title"}}
    Course Idea - {{ idea.title }}
{{/partial}}

{{> base.hbs }}